<style type="text/css">
<!--
.STYLE1 {
color: #FFFFFF;
background-color:#4DAEA3;
font-size:14px;
text-align:center;
}
.caselist{
font-size:14px;
font-family:"微软雅黑";
overflow:hidden;
table-layout:fixed;}

.caselisttd{
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
font-family:"微软雅黑";
font-size:12px;
}
-->
</style>
{% extends "base.html" %}
{% block content %}
<section id="main-content">
    <section class="wrapper">

    <div class="nav search-row" id="top_menu">
        <!--  search form start -->
        <ul class="nav top-menu">
            <li>
                <div>
                <div style="float:left">
                    <form class="navbar-form">
                    <input id="contents" name="contents" type="text" placeholder="设备名" class="form-control">
                    <a type="button" class="btn btn-success" onclick="search_device()" >搜索</a>
                    </form>
                </div>
                <div style="float:left">
                    <form class="navbar-form" method="get" action="/add_device/">
                        <button type="submit" class="btn btn-success">新增设备</button>
                    </form>
                </div>
                </div>

             </li>
        </ul>
        <!--  search form end -->
     </div>


      <div class="row">
        <div class="">
    <table class="table bootstrap-datatable countries" style="table-layout:fixed;" >
            <thead>
              <tr>
                <th width="20%">名称</th>
                <th width="10%">APP名称</th>
                <th width="40%">设备信息</th>
                <th width="30%">操作</th>
              </tr>
            </thead>
            <tbody style = "caselist">
              {% for device in devices %}
                <tr>
                  <td><a href="/edit_device/{{ device.id }}/">{{ device.name}}</td>
                  <td title="{{ device.app_name}}">{{ device.app_name}}</td>
                  <td title="{{ device.device_info}}">{{ device.device_info}}</td>

                  <td><table><tr><td><a><button onclick="redirect('/edit_device/{{ device.id }}/')" >修改</a></td><td><a><button onclick="if(confirm('确定要删除吗?')==false)return; javascript:window.location.href='/delete_device_action/{{ device.id }}/';" >删除</a></td></tr></table></td>
                </tr>
             {% endfor %}
            </tbody>
          </table>
        </div>

      </div>

    <!-- 列表分页器 -->
    <div class="pagination">
      <span class="step-links">
        共有{{ devices.paginator.num_pages }}页<br>
        {% if devices.has_previous %}
          {%ifnotequal devices.previous_page_number 1 %}
            <a href="?page=1">首页</a>
          {% endifnotequal %}
            <a href="?page={{ devices.previous_page_number }}">上一页</a>

        {% endif %}
          <span class="current">
             {{ devices.number }} 页
          </span>
        {% if devices.has_next %}
            <a href="?page={{ devices.next_page_number }}">下一页</a>
            {%ifnotequal devices.next_page_number devices.paginator.num_pages %}
              <a href="?page={{ devices.paginator.num_pages}}">尾页</a>
            {% endifnotequal %}
        {% endif %}
      </span>
    </div>
          </section>
      </section>
{% endblock %}
