<style type="text/css">
<!--
.STYLE1 {
color: #FFFFFF;
background-color:#4DAEA3;
font-size:14px;
text-align:center;
}
.caselist{
font-size:14px;
font-family:"微软雅黑";
overflow:hidden;
table-layout:fixed;}

.caselisttd{
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
font-family:"微软雅黑";
font-size:12px;
}
-->
</style>
{% extends "base.html" %}
{% block content %}
    <section id="main-content">
    <section class="wrapper">
         <div class="nav search-row" id="top_menu">
        <!--  search form start -->
        <ul class="nav top-menu">
            <li>
                <div>
                <div style="float:left">
                    <form class="navbar-form">
                    <input id="contents" name="contents" type="text" placeholder="关键字" class="form-control">
                    <a type="button" class="btn btn-success" onclick="search_element()" >搜索</a>
                    </form>
                </div>
                <div style="float:left">
                    <form class="navbar-form" method="get" action="/element/view/0/">
                        <button type="submit" class="btn btn-success">新增对象</button>
                    </form>
                </div>
                </div>
             </li>
        </ul>
        <!--  search form end -->
     </div>

      <div class="row">
        <div class="">
    <table class="table bootstrap-datatable countries" style="table-layout:fixed;" >
            <thead>
              <tr>
                <th width="50%">关键字</th>
                <th width="10%">应用</th>
                <th width="10%">平台</th>
                <th width="30%">操作</th>
              </tr>
            </thead>
            <tbody style = "caselist">
              {% for element in element_list %}
                <tr>
                  <td><a href="/element/view/{{ element.key }}/">{{ element.key }}</a></td>
                  <td title="{{ element.app}}">{{ element.app}}</td>
                  <td title="{{ element.platform}}">{{ element.platform}}</td>
                  <td><table><tr><td><a><button onclick="redirect('/element/edit/{{ element.key }}/')">修改</a></td><td><a><button onclick="if(confirm('确定要删除吗?')==false)return; javascript:window.location.href='/element/delete/{{ element.key }}/';">删除</a></td></tr></table></td>
                </tr>
             {% endfor %}
            </tbody>
          </table>
        </div>

      </div>

    <!-- 列表分页器 -->
    <div class="pagination">
      <span class="step-links">
        共有{{ element_list.paginator.num_pages }}页<br>
        {% if element_list.has_previous %}
          {%ifnotequal element_list.previous_page_number 1 %}
            <a href="?page=1">首页</a>
          {% endifnotequal %}
            <a href="?page={{ element_list.previous_page_number }}">上一页</a>

        {% endif %}
          <span class="current">
             {{ element_list.number }} 页
          </span>
        {% if element_list.has_next %}
            <a href="?page={{ element_list.next_page_number }}">下一页</a>
            {%ifnotequal element_list.next_page_number test_case.paginator.num_pages %}
              <a href="?page={{ element_list.paginator.num_pages}}">尾页</a>
            {% endifnotequal %}
        {% endif %}
      </span>
    </div>
          </section>
      </section>
{% endblock %}
